<% if @events.any? %>
  
  <div> <h1>Upcoming Events (<%= @Upcoming_events %>)</h1></div><br>
  <%= render 'public/eventsList', events: @Upcoming_events %><br>
  <div><h1>Past Events (<%= @past_events.count %>)</h1></div><br>
  <%= render 'public/eventsList', events:@past_events %><br>
<% end %>