
<% @events.each do |event| %>
        <div class = "event">
                <%= event.eventype %>
              <%= event.location %>
                <%= event.date %>
        </div>
<%end%>

<%= link_to 'back', new_event_path %>